{% extends 'gis_asset/base.html' %}

{% block content %}

  <p>{{total_assets}} assets, {{selected_count}} selected.</p>
  <form action='{% url gis_asset.views.search %}' method='post'>
  {% csrf_token %}
  {{form.as_p}}
  <input type='submit'/>
  <button type='button' id='help_toggle'>Toggle help</button>
  </form>
  
  {% for i in selected %}
  <div><a class='asset_info' href='{% url gis_asset.views.asset i.0 %}'><img src='{{STATIC_URL}}gis_asset/img/info.gif' title='More information' alt='Information icon'/></a>
  <span class='asset_modified'>{{i.3|date:"d.M.y"}}</span>
  <a href='{{i.1}}'>{{i.2}}</a></div>
  {% endfor %}

<div id='dialog'></div>

{% endblock %}
