{% extends 'gis_asset/base.html' %}

{% block content %}

  <p>{{total_assets}} assets, {{selected_count}} selected,
  from <a href="{% url 'drives' %}">these locations</a>.</p>
  
  {% if filters %}<p>Filtered by<ul>
  {% for i in filters %}<li>{{i}}</li>{% endfor %}
  </ul></p>{% endif %}
  
  <div class='helptext'><p>
  For each search, selections made <strong>within</strong>
  the boxes below are <strong>ORed</strong>
  together, so a search for attribute name "uniq_id3, uniq_id" will find
  datasets with <strong>either</strong> attribute.  
  </p><p>
  For each search,
  the non-empty boxes below are <strong>ANDed</strong> together, so
  a search for attribute name "uniq_id3, uniq_id" and path txt "2011" will
  find datasets which all have "2011" in their path, <strong>AND</strong>
  have either "uniq_id3" or "uniq_id" attributes.
  </p><p>
  To search for datasets which have attribute name
  "uniq_id3" <strong>AND</strong> attribute name "sumrel" (same box below),
  search for "uniq_id3" first, then check the Search within
  selected option and search for "sumrel".
  </p><p>
  Autocomplete fields are limited to previously selected datasets (if any,
  see top of page), and never show more than 250 choices.
  </p>
  </div>
  
  <form action='{% url "search" %}' method='post'>
  {% csrf_token %}
  <table class='left_head'>{{form.as_table}}</table>
  <input type='submit'/>
  <button onclick="window.location='{% url "search" %}';"
  type='button'>Reset</button>
  <button type='button' id='help_toggle'>Toggle help</button>
  </form>
  
  {% if selected_count > selected|length %}
  <h2>Showing only first {{selected|length}} records</h2>
  {% endif %}
  {% for i in selected %}
  <div><a class='asset_info' href='{% url "asset" i.0 %}'><img src='{{STATIC_URL}}gis_asset/img/info.gif' title='More information' alt='Information icon'/></a>
  <span class='asset_modified'>{{i.3|date:"d.M.y"}}</span>
  <a href='{{i.1}}'>{{i.2}}</a></div>
  {% endfor %}

<div id='dialog'></div>

{% endblock %}
